* { margin: 0; padding: 0; box-sizing: border-box; }

/* root color */
:root {
    --primary-color: #1e90ff;
    --secondary-color: #f5f5f5;
    --section-color: #eee;
    --accent-color: #f14c2e;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
}

/* html {
  scroll-behavior: smooth;
} */


section {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.heroTitle{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.heroDescription {
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.5;

}

.section-title {
    font-size: 1.75rem;
    color: var(--text-color);
    font-weight: 600;
}

.section-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 400;
    max-width: 600px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* button style */
.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signin-button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;


}

#login-button {
    border: none;
    background-color: #e7ebf7;
    color: #565658;
}
/* button style end */

/* Header section */
.header{
    position: fixed;
    top: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 3rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 60px;
    width: auto;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li a{
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}

/* Hide hamburger by default (desktop) */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--primary-color);
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: var(--secondary-color);
        text-align: center;
        padding: 1rem 0;
    }

    .navbar.active {
        display: block;
    }

    .navbar ul {
        flex-direction: column;
        gap: 1rem;
    }

    .header-cta {
        display: none; /* চাইলে hide করো */
    }
    
}

/* Header section end */

/* Hero section */
.hero-section {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-image: url(/image/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroContent{
    background-color: rgba(14, 19, 46, 0.5);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

#hero-cta {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
}

/* Hero section end */
/* Responsive design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        gap: 0.5rem;
        margin: 1rem 0 1rem 0;
    }

    .header-cta {
        display: flex;
        width: 80%;
        gap: 1rem;
        justify-content: center;
    }

    section {
        height: auto;
        padding: 2rem 0;
    }

    .heroContent {
        max-width: 80%;
    }

}
/* Responsive design end */

/* Our Service section */
.service-section {
    background-color: var(--section-color);
    min-height: 100vh; /* vrh → vh + better responsive */
    padding: 2rem 3rem; /* Adjusted padding for better spacing */
}

/* Service Container */
.service-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 0;
    gap: 2rem;
    flex-wrap: wrap;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    padding: 1rem;
    width: 30%;
    min-height: 450px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.service-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

#Business-strategy {
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url(/image/Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#UIUX-Design {
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url(/image/uiux-design.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Development {
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url(/image/development.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Digital-Marketing {
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url(/image/digital-marketing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Content-Creation {
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url(/image/content-creation.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Graphic-Design {
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url(/image/graphic-design.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*responsive design for service section*/
@media (max-width: 768px) {
    .service-section {
        padding: 1rem;
    }
    .service-card {
        width: 90%;
        min-height: 300px;
    }
}

/* Our Service section end */
/*portfolio section*/
#portfolio {
    background-color: #fff;
    min-height: 100vh;
}
.portfolio-container {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
} */

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: left;
    width: 100%;
    padding: 1rem 0;
}

.portfolio-image{
    width: 50%;
    height: 380px;
    overflow: hidden;
    border-radius: 12px;
}

.portfolio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.portfolio-image img:hover {
    transform: scale(1.05);
}

.portfolio-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}

.portfolio-content h4 {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 500;
    position: relative;
}

.portfolio-content h4::after {
  content: "";
  display: block;
  width: 140px;
  height: 3px;
  border-radius: 20px;
  background: var(--primary-color);
  margin: 1rem 0;
}

.portfolio-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.portfolio-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 400;
    max-width: 80%;
}

.line-cta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.line-cta a {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
    transition: color 0.3s ease;
}

.big-icon {
    color: var(--primary-color);
    font-size: 1.5rem;
    /* margin-left: 0.5rem;
    transition: transform 0.3s ease; */
}


/* Responsive design for portfolio section */
@media (max-width: 768px) {
    .portfolio-container {
        padding: 1rem;
    }

    .portfolio-item {
        flex-direction: column; /* ek column e ashbe */
        text-align: start;
        gap: 1rem;
    }

    .portfolio-image {
        order: 1; /* always first */
        height: 380px;
        overflow: hidden;
        border-radius: 8px;
        width: 100%;
    }

    .portfolio-content {
        order: 2; /* always second */
        width: 100%;
    }

    .portfolio-description {
        max-width: 100%;
    }
}

/*portfolio section end*/
/*content section*/

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 900px;
    margin: 0 auto;
    height: 400px;
    background-color: var(--primary-color);
    padding: 2rem;
    color: var(--secondary-color);
    border-radius: 16px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-title {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-weight: 600;
}

.content-description {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: 400;
    max-width: 600px;
}

.contact-cta {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 500;
}


/* Responsive design for contact section */
@media (max-width: 768px) {
    .contact-container {
        width: 80%;
        height: auto;
        padding: 1rem;
    }

    .content-title {
        font-size: 1.75rem;
    }

    .content-description {
        font-size: 1rem;
        max-width: 100%;
    }
}

/*content section end*/
/*footer section*/
.footer {
  background-color: #2a2822;
  color: #ffffff;
  padding: 2rem 3rem;
}

.logo-svg {
  filter: brightness(0) invert(1); /* কালো → সাদা করে দেবে */
}


.footer-content-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  position: relative;
}

.footer-section h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: var(--primary-color);
  margin-top: 0.3rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  text-decoration: none;
  color: #cccccc;
  font-size: 0.95rem;
}

.footer-section ul li a:hover {
  color: var(--primary-color);
}

.footer-section p {
  color: #cccccc;
  line-height: 1.5;
  margin-top: 1rem;
  font-size: 0.95rem;
}

/* Bottom Footer */
#Bottom-footer {
  margin-top: 2rem;
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  font-size: 0.875rem;
  color: #aaaaaa;
}

.social-links a {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 1.2rem;
}

.social-links a:hover {
  color: orange;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content-top {
    flex-direction: column;
    text-align: start;
    gap: 1.5rem;
  }


  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
  }
}
